.card_cat_intro {
  width: 479px;
  height: 240px;
  display: flex;
  align-items: center;
  // padding-left: 39px;
  cursor: pointer;
  @media screen and (max-width: 1023px) {
    height: 100px;
  }
  @media screen and (max-width: 767px) {
    height: 60px;
    width: 100%;
  }
}
.card_cat_detail,
.card_cat_ranking {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}
.card_cat_ranking {
  height: fit-content;
}
.check {
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 19px;
  width: 19px;
  border: 2px solid black;
  border-radius: 50%;
}

.check input:checked ~ .checkmark {
  background-color: #000000;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 4px;
  top: 0px;
  width: 7px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.timeline {
  position: relative;
}

.timeline li {
  list-style: none;
  float: left;
  width: 11%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.timeline li:before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 10px auto;
  background: black;
  color: #000;

  cursor: pointer;
  z-index: 10;
  position: relative;
}

.timeline li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  top: 5px;
  left: -50%;
  z-index: 1;
}

.timeline li:first-child:after {
  content: none;
}
.timeline li.active-tl {
  color: #555555;
}
.timeline li.active-tl:before {
  background: white;
  color: #f1f1f1;
}
.text-selected {
  color: black;
  background: white;
}
.text {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: fit-content;
  padding: 0 3px;
  margin: auto;
  cursor: pointer;
}
.text:hover {
  color: black;
  background: white;
}

.tool_tip_detail_wrapper {
  width: 183px;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    width: 143px;
  }
}
.tooltip_header {
  width: 100%;
  padding: 5px 12px;
  flex: 1;
  color: white;
}
.tooltip_body {
  flex: 1;
  background: white;
  padding: 5px 12px;
}
.tooltip_footer {
  background: white;
  padding: 5px 12px;
}
.isRank {
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.176);
  border-radius: 6px;
  cursor: pointer;
  width: 235px;
  height: 37px;
}
.isRank_black {
  background: black;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.176);
  border-radius: 6px;
  cursor: pointer;
  height: 37px;
  border: 1px solid #ffffff;
}
.circle_wrapper {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
}
#cardน้ำท่วมถนน {
  background-image: url("../assets/images/flood_bg.png");
  background-size: cover;
}
#cardพื้นที่สีเขียว {
  background-image: url("../assets/images/park_bg.png");
  background-size: cover;
}
#cardมลพิษในคลอง {
  background-image: url("../assets/images/water_bg.png");
  background-size: cover;
}
#cardขยะมูลฝอย {
  background-image: url("../assets/images/waste_bg.png");
  background-size: cover;
}
#cardฝุ่นควันเกินมาตรฐาน {
  background-image: url("../assets/images/air_bg.png");
  background-size: cover;
}
#cardน้ำท่วมถนน:hover {
  background-image: url("../assets/images/flood_bg_hover.jpg");
  background-size: cover;
}
#cardพื้นที่สีเขียว:hover {
  background-image: url("../assets/images/park_bg_hover.jpg");
  background-size: cover;
}
#cardมลพิษในคลอง:hover {
  background-image: url("../assets/images/water_bg_hover.jpg");
  background-size: cover;
}
#cardขยะมูลฝอย:hover {
  background-image: url("../assets/images/waste_bg_hover.jpg");
  background-size: cover;
}
#cardฝุ่นควันเกินมาตรฐาน:hover {
  background-image: url("../assets/images/air_bg_hover.jpg");
  background-size: cover;
}
#tooltip-budget {
  visibility: hidden;
}
