@tailwind base!important;
@tailwind components!important;
@tailwind utilities!important;

@layer utilities {
  * {
    font-family: "NotoSansThaiUI" !important;
  }
  html {
    scroll-behavior: smooth !important;
    overflow: hidden !important;
    outline: none !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700 !important;
  }
  /* h1 {
    font-size: 80px !important;
    font-weight: 700 !important;
    @media screen and (max-width: 767px) {
      font-size: 48px !important;
    }
  }
  h2 {
    font-size: 42px !important;
    font-weight: 700 !important;
    @media screen and (max-width: 767px) {
      font-size: 28px !important;
    }
  }
  h3 {
    font-size: 24px !important;
    font-weight: 700 !important;
    @media screen and (max-width: 767px) {
      font-size: 22px !important;
    }
  }
  h4 {
    font-size: 20px !important;
    font-weight: 700 !important;
    @media screen and (max-width: 767px) {
      font-size: 18px !important;
    }
  }
  h5 {
    font-weight: 700 !important;
    font-size: 36px !important;
  } */
  .d1 {
    font-family: "TheMATTER" !important;
    font-size: 80px !important;
    @media screen and (max-width: 767px) {
      font-size: 48px !important;
    }
  }
  .d2 {
    font-family: "TheMATTER" !important;
    font-size: 60px !important;
    @media screen and (max-width: 767px) {
      font-size: 36px !important;
    }
  }
  .d3 {
    font-family: "TheMATTER" !important;
    font-size: 40px !important;
    @media screen and (max-width: 767px) {
      font-size: 28px !important;
    }
  }
  .d4 {
    font-family: "TheMATTER" !important;
    font-size: 30px !important;
    @media screen and (max-width: 767px) {
      font-size: 24px !important;
    }
  }
  .d5 {
    font-family: "TheMATTER" !important;
    font-size: 24px !important;
    @media screen and (max-width: 767px) {
      font-size: 18px !important;
    }
  }
  .p1 {
    font-size: 18px !important;
  }
  .p2 {
    font-size: 14px !important;
  }
  .p3 {
    font-size: 12px !important;
  }
}
@layer base {
  @font-face {
    font-family: "NotoSansThaiUI";
    src: url("assets/fonts/NotoSansThaiUI-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "NotoSansThaiUI";
    src: url("assets/fonts/NotoSansThaiUI-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "TheMATTER";
    src: url("assets/fonts/TheMATTER-Bold.otf");
    font-weight: 700;
    font-style: normal;
  }
}

.fade-enter {
  opacity: 0 !important;
}
.fade-enter-active {
  opacity: 1 !important;
  transition: opacity 0.4s !important;
}
.fade-exit {
  opacity: 1 !important;
}
.fade-exit-active {
  opacity: 0 !important;
  transition: opacity 0.4s !important;
}
